extends tex

snippet cb "code block" bA
\`\`\`${1:rust}
${VISUAL}$0
\`\`\`
endsnippet

snippet py "python code block in a jupytext md file" b
\`\`\`python
${VISUAL}$0
\`\`\`
endsnippet

# custom Zola conventions for blogging
snippet side "sidenote block" b
{% sidenote() %}
${VISUAL}$0
{% end %}
endsnippet

# tex overrides for mathjax versions
priority 1
snippet mb "math block" bA
\$\$
${VISUAL}$0
\$\$
endsnippet

