[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/charitable"]
	path = awesome/charitable
	url = https://github.com/frioux/charitable.git
[submodule "musnix"]
	path = nixos/musnix
	url = https://github.com/musnix/musnix.git
