[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/charitable"]
	path = awesome/charitable
	url = https://github.com/frioux/charitable.git
[submodule "nvim/oceanic-material"]
	path = nvim/oceanic-material
	url = git@github.com:MoleTrooper/oceanic-material.git
