[submodule "awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/charitable"]
	path = .config/awesome/charitable
	url = https://github.com/frioux/charitable.git
