# Set up trackball (boost scroll and slow down pointer)
# (I have two that report different names)
for DEV in 'Kensington Slimblade Trackball' 'Kensington Kensington Slimblade Trackball'; do
  if xinput list | grep -q "↳ $DEV"; then
    # multiply scroll wheel inputs (binding in ~/.xbindkeysrc)
    xinput set-button-map "$DEV" 1 8 3 9 10 6 7 2
    xbindkeys

    PTR_SPEED='0.850000'
    xinput set-prop "$DEV" 'Coordinate Transformation Matrix' "$PTR_SPEED", 0.000000, 0.000000, 0.000000, "$PTR_SPEED", 0.000000, 0.000000, 0.000000, 1.000000
  fi
done

# tablets to monitor 1
for DEV in 'Wacom Intuos S Pen stylus' \
  'Wacom Intuos Pro M Pen stylus' \
  'Wacom Intuos Pro M Pen eraser'; do
  if xsetwacom --list devices | grep -q "$DEV"; then
    xsetwacom --set "$DEV" MapToOutput HEAD-0
  fi
done
